@import 'tailwindcss';
@source "safelist.txt";
@config '../../tailwind.config.ts';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  :root {
    /* Base */
    --background: #ffffff; /* fundo principal suave */
    --background-alt: #ecede9; /* cartões, inputs, áreas elevadas */
    --foreground: #2d2b2e; /* texto principal */
    --foreground-muted: #666468; /* texto secundário */

    /* Paleta principal */
    --primary: #97c52a; /* verde principal (grama) */
    --primary-hover: #7da623; /* verde escurecido para hover */
    --primary-light: #c4e173; /* destaque e bordas verdes suaves */

    /* Paleta secundária */
    --secondary: #6b5c86; /* roxo sóbrio */
    --secondary-hover: #5a4a73; /* hover do roxo */
    --secondary-light: #9c8eb5; /* roxo suave para detalhes */

    /* Acentos e feedback */
    --accent: #7f2ac7; /* cor de destaque opcional */
    --success: #4caf50;
    --warning: #ffc107;
    --error: #c62828;

    /* Elementos */
    --border: #d6d8d2;
    --input-bg: #ffffff;
    --input-border: #d6d8d2;
    --card-bg: #ffffff;
    --shadow: rgba(0, 0, 0, 0.05);
  }

  body {
    box-sizing: content-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background);
    color: var(--foreground);
    overflow-x: hidden;
  }
}

@layer base {
  * {
    @apply transition-colors duration-200;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) transparent; /* Cor da barra e do fundo transparente */
}

/* Para Chrome, Edge, Safari e outros baseados em WebKit */
*::-webkit-scrollbar {
  width: 6px;  /* Largura da scrollbar vertical */
  height: 6px; /* Altura da scrollbar horizontal (para as abas no mobile) */
}

*::-webkit-scrollbar-track {
  background: transparent; /* O fundo da scrollbar fica invisível */
}

*::-webkit-scrollbar-thumb {
  background-color: #C1C1C1; /* Cor padrão da barra, um cinza bem sutil */
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

/* Efeito ao passar o mouse: a barra fica mais escura e visível */
*:hover::-webkit-scrollbar-thumb {
    background-color: var(--secondary); /* Usa a cor secundária do seu tema */
}

