@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* Base */
  --background: #FFFFFF;      /* fundo principal suave */
  --background-alt: #ECEDE9;  /* cartões, inputs, áreas elevadas */
  --foreground: #2D2B2E;      /* texto principal */
  --foreground-muted: #666468; /* texto secundário */

  /* Paleta principal */
  --primary: #97C52A;          /* verde principal (grama) */
  --primary-hover: #7DA623;    /* verde escurecido para hover */
  --primary-light: #C4E173;    /* destaque e bordas verdes suaves */

  /* Paleta secundária */
  --secondary: #6B5C86;        /* roxo sóbrio */
  --secondary-hover: #5A4A73;  /* hover do roxo */
  --secondary-light: #9C8EB5;  /* roxo suave para detalhes */

  /* Acentos e feedback */
  --accent: #7F2AC7;            /* cor de destaque opcional */
  --success: #4CAF50;
  --warning: #FFC107;
  --error: #C62828;

  /* Elementos */
  --border: #D6D8D2;
  --input-bg: #FFFFFF;
  --input-border: #D6D8D2;
  --card-bg: #FFFFFF;
  --shadow: rgba(0, 0, 0, 0.05);
}

body {
    box-sizing: content-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background);
    color: var(--foreground);
    overflow-x: hidden;
}

@layer base {
  * {
    @apply transition-colors duration-200;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) transparent; /* Cor da barra e do fundo transparente */
}

/* Para Chrome, Edge, Safari e outros baseados em WebKit */
*::-webkit-scrollbar {
  width: 6px;  /* Largura da scrollbar vertical */
  height: 6px; /* Altura da scrollbar horizontal (para as abas no mobile) */
}

*::-webkit-scrollbar-track {
  background: transparent; /* O fundo da scrollbar fica invisível */
}

*::-webkit-scrollbar-thumb {
  background-color: #C1C1C1; /* Cor padrão da barra, um cinza bem sutil */
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

/* Efeito ao passar o mouse: a barra fica mais escura e visível */
*:hover::-webkit-scrollbar-thumb {
    background-color: var(--secondary); /* Usa a cor secundária do seu tema */
}

