@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: #FFFFFF;
    --foreground: #2D2B2E;
    --primary: #B9C72A;
    --primary-hover: #A2B025;
    --secondary: #4A3A6B;
    --secondary-hover: #5F4A8B;
    --accent: #7F2AC7;
    --error: #c62828;
}

body {
    box-sizing: content-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background);
    color: var(--foreground);
    overflow-x: hidden;
}

@layer base {
  * {
    @apply transition-colors duration-200;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) transparent; /* Cor da barra e do fundo transparente */
}

/* Para Chrome, Edge, Safari e outros baseados em WebKit */
*::-webkit-scrollbar {
  width: 6px;  /* Largura da scrollbar vertical */
  height: 6px; /* Altura da scrollbar horizontal (para as abas no mobile) */
}

*::-webkit-scrollbar-track {
  background: transparent; /* O fundo da scrollbar fica invisível */
}

*::-webkit-scrollbar-thumb {
  background-color: #C1C1C1; /* Cor padrão da barra, um cinza bem sutil */
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

/* Efeito ao passar o mouse: a barra fica mais escura e visível */
*:hover::-webkit-scrollbar-thumb {
    background-color: var(--secondary); /* Usa a cor secundária do seu tema */
}

